# کپی کنید به .env و مقدار SECRET_KEY را عوض کنید.
# اجرا همیشه از داخل پوشه backend باشد.

DATABASE_URL=sqlite:///./tsp.db
SECRET_KEY=change-me-to-a-long-random-string
ALGORITHM=HS256
# ۷ روز
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ORIGIN_REGEX=https://.*\\.e2b\\.app
